<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록 페이지</title>
</head>
<style>
    .layout{
        width: 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>
<body>
  <div class="layout">
      <table>
          <th>
              <tr>
                  <th>글 번호</th>
                  <th>글 제목</th>
              </tr>
          </th>
          <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}">1</td>   <!--localhost:8090/board/view?id=board.id-->
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                </td>
            </tr>
          </tbody>
      </table>
  </div>
</body>
</html>